@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;  /* a요소는 글자색 재지정 필요 */
}
li {
    list-style: none;
}
img {
    vertical-align: top; /* 여백 삭제 */
    width: 100%; /* 반응형 대비 */
}

/* wrap */
#wrap {
    position: relative;
    margin: 0 auto; /* block 구조 가운데정렬 */
    width: 1200px;
}

/* header */
#header {
    display: flex;
    width: 100%;
    background-color: #5469e3;
}
#header .logo {
    width: 20%;
    height: 100px;
}
#header .logo a {
    display: inline-block;
    padding: 30px 40px;
    color: #fff;
}
#header .nav {
    width: 80%;
    height: 100px;
    z-index: 1000;
}
#header .nav > ul {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;  /* align-item의 기준은 height 이므로 필요 */
}
#header .nav > ul > li {
    position: relative;
}
#header .nav > ul > li > a {
    display: block;
    padding: 15px 45px;
    color: #fff;
    background: #3d54d7;
}
#header .nav > ul > li > a:hover {
    background: #2f46ca;
}
#header .nav > ul > li > ul {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0px;
    text-align: center;
    background: #ebebeb;
    overflow: hidden;
    transition: all 0.6s;
}
#header .nav > ul > li > ul > li > a {
    display: block;
    padding: 10px 20px;
}
#header .nav > ul > li > ul > li > a:hover {
    background: #d5d5d5;
}

/* slider */
#slider {
    width: 100%;
    height: 300px;
    background-color: #dcdcdc;
}
#slider .sliderWrap {
    position: relative;
}
#slider .sliderWrap .slider {
    position: absolute;
    top: 0;
    left: 0;
}
#slider .sliderWrap .slider .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}
#slider .sliderWrap .slider .text > h2 {
    margin-bottom: 3px;
    font-size: 30px;
    color: #fff;
}
#slider .sliderWrap .slider .text > p {
    font-size: 16px;
    color: #fff;
}

/* contents */
#contents {
    display: flex;
    width: 100%;
    
}

/* contents : info */
#contents .info {
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: #dee2f3;
}
#contents .info .info-menu {
    margin-bottom: 10px;
}
#contents .info .info-menu ul {
    display: flex;
}
#contents .info .info-menu ul li {
    font-style: 24px;
    padding-right: 10px;
}
#contents .info .info-menu ul li a {
    color: rgba(51, 51, 51, 0.5);
}
#contents .info .info-menu ul li.active a {
    color: rgba(51, 51, 51, 1);
}
#contents .info .info-cont .notice {
    display: none;
}
#contents .info .info-cont .notice li {
    display: flex;
}
#contents .info .info-cont .notice li a {
    width: 75%;
    font-size: 16px;
    line-height: 1.8;
}
#contents .info .info-cont .notice li span {
    width: 25%;
    text-align: right;
    line-height: 1.8;
}
#contents .info .info-cont .gallery {
    /* display: none; */
}
#contents .info .info-cont .gallery ul {
    display: flex;
    justify-content: space-between;
}
#contents .info .info-cont .gallery ul li a {
    display: block;
    border: 2px solid transparent ;
}
#contents .info .info-cont .gallery ul li a:hover {
    border-color: #3d54d7;
}

/* contents : banner */
#contents .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-image: url(../images/banner.jpg);
}
#contents .banner h3 {
    font-size: 26px;
    color: #fff;
}
#contents .banner a {
    margin-top: 10px;
    padding: 10px 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}
#contents .banner a:hover {
    background-color: rgba(0, 0, 0, 1);
}

/* contents : link */
#contents .link {
    width: 400px;
    height: 200px;
    background-image: url(../images/link.jpg);
}
#contents .link h3 {
    padding: 20px;
    color: #fff;
}
#contents .link a {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    background-color: rgba(67, 93, 198, 0.8);
    border-radius: 50%;
}
#contents .link a:hover {
    background-color: rgba(67, 93, 198, 1);
}

/* footer */
#footer {
    display: flex;
    width: 100%;
    background-color: #eeeeee;
}
#footer .footer1 {
    width: 20%;
    height: 100px;
}
#footer .footer1 h4 {
    padding: 32px 30px;
    font-size: 30px;
    color: #909090;
}
#footer .footer2 {
    width: 80%;
}
#footer .footer2 .footer2-1 {
    width: 100%;
    height: 50px;
    text-align: center;
}
#footer .footer2 .footer2-1 ul{
    padding-top: 24px;
}
#footer .footer2 .footer2-1 ul li {
    display: inline-block;
    border-right: 1px solid #ccc;
}
#footer .footer2 .footer2-1 ul li:last-child {
    border: none;
}
#footer .footer2 .footer2-1 ul li a {
    padding: 10px;
}
#footer .footer2 .footer2-1 ul li a:hover {
    text-decoration: underline;
}
#footer .footer2 .footer2-2 {
    box-sizing: border-box;
    padding-top: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
}

/* popup */
.popup-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 4px solid #5b6dd2;
    display: none;
}
.popup-view h3 {
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 2px solid #cdcdcd;
}
.popup-close {
    position: absolute;
    left: 50%;
    bottom: 20px;
    padding: 5px 15px;
    transform: translateX(-50%);
    background-color: #dbdbdb;
    cursor: pointer;
}