<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>t-1</title>
    <link rel="stylesheet" href="./css/t-1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./js/t-1.js" defer></script>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <div class="logo"></div>
            <nav class="nav"></nav>
        </div>
        <!-- //header -->

        <div id="slider">
        </div>
        <!-- //slider -->

        <div id="contents">
            <div class="content1">
                <div class="tab-menu">
                    <div class="tab-btn">
                        <ul>
                            <li class="active"><a href="#">탭메뉴1</a></li>
                            <li><a href="#">탭메뉴2</a></li>
                        </ul>
                    </div>
                    <div class="tab-cont">
                        <div>
                            탭메뉴1<br>탭메뉴1<br>탭메뉴1<br>탭메뉴1
                        </div>
                        <div>
                            탭메뉴2<br>탭메뉴2<br>탭메뉴2<br>탭메뉴2
                        </div>
                    </div>
                </div>
            </div>
            <div class="content2"></div>
            <div class="content3"></div>
        </div>
        <!-- //contents -->

        <div id="footer">
            <div class="footer1"></div>
            <div class="footer2"></div>
            <div class="footer3"></div>
        </div>
        <!-- //footer -->
    </div>
    <!-- //wrap -->
</body>
</html>